
/* ==========================================================================
   ymt-articleList
   ========================================================================== */
.ymt-ArticleList{
	@extend %line;
	color: #FFF;
	margin: 30px 0;
	background-repeat: repeat-x;
	.ymt-ArticleList__Item{
		a{
			@extend %line;
			color: inherit;
			text-decoration: none;
			position: relative;
			display: block;
			padding: 20px 20px 20px 50px;
			background-repeat: repeat-x;
			background-position: 0 100%;
			background-color: rgba( 255, 255, 255, .1 );
			transition: all .5s;
			&::before{
				content: "";
				position: absolute;
				top: calc( 50% - 32px );
				left: 10px;
				display: block;
				width: 32px;
				height: 64px;
				background-image: url( "data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2232%22%20height=%2264%22%20viewBox=%220%200%2032%2064%22%3E%3Cpath%20fill=%22%23fff%22%20d=%22M0%200l32%2032-32%2032%2017.9-32-17.9-32z%22/%3E%3C/svg%3E" );
				transform: scale( 0.5 );
				transition: all .5s;
			}
			&:hover::before{
				transform: translateX( 8px ) scale( 0.75 );
				transition-duration: .4s;
				transition-timing-function:  cubic-bezier( 0, 1.8, 1, 1 );
			}
			&::after{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba( 255, 255, 255, 0 );
				transform: scaleX( 0 );
				transform-origin: 0 0;
				transition: all 1.6s;
			}
			&:hover::after{
				transform: scaleX( 1 );
				transition-duration: .4s;
				background-color: rgba( 255, 255, 255, .05 );
				transition: background-color .2s;
			}
		}
	}
	.ymt-ArticleList__ItemHeading{
		font-size: 24px;
		font-weight: normal;
		line-height:1.2;
		margin: 0;
		transition: all .5s;
		time{
			font-size: 12px;
			font-weight: normal;
			display: block;
			margin-top: 5px;
		}
	}
	a:hover .ymt-ArticleList__ItemHeading{
		transform: translateX( 8px );
		transition-duration: .4s;
		transition-timing-function: cubic-bezier( 0, 1.8, 1, 1 );
	}
}

/* ==========================================================================
   ymt-Markdown
   ========================================================================== */
.ymt-Markdown{
	h2{
		font-family: $fontSerif;
		font-size: 24px;
		font-weight:bold;
		margin: 1.5em 0 .3em;
		a{
			color: inherit;
			&::after{
				content: "#";
			}
		}
	}
	& > h2:first-child{
		margin-top:0;
	}
	h3{
		font-family: $fontSerif;
		font-weight: bold;
		margin:1em 0 .5em;
	}
	p{margin-top:0;}
	img, video{
		box-sizing: border-box;
		display: block;
		max-width: 100%;
		height: auto;
		margin: 40px 0;
	}
	iframe{
		max-width: 100%;
	}
	table{
		margin:.8em 0;
	}
	th,td{
		border:1px solid #333;
		padding:.3em;
	}
	th{
		background:rgba(0,0,0,.1);
	}
	pre{
	  overflow: auto;
		-webkit-overflow-scrolling: touch;
		white-space: pre;
		padding:14px;
		margin: 20px 0;
		box-shadow:
			inset 0 1px 10px rgba( 0, 0, 0, .3 ),
			0  1px 0 rgba( 255, 255, 255, .1 ),
			0 -1px 0 rgba( 0, 0, 0, .5 );
		background: #2d2d2d;
	}
}


/* ==========================================================================
   ymt-ArticleNav
   ========================================================================== */
.ymt-ArticleNav {
	margin: 40px 0;
	.ymt-ArticleNav__List{
		list-style: none;
		position: relative;
		display: table;
		width: 100%;
		padding:0;
		margin: 0;
		min-height: 2.4em;
		@media(max-width:600px){
			display: block;
		}
	}
	.ymt-ArticleNav__Item{
		position: relative;
		z-index: 1;
		margin:0;
		padding:0;
		a::before,
		a::after{
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			border-radius: 2px;
		}
		a::before{
			border: 1px solid #999;
			box-shadow: 0 0 0 0 rgba( 255, 255, 255, 0.5 );
			background-color: rgba( 255, 255, 255, .05 );
			transition: border-color .2s;
		}
		a:hover::before{
			border-color: #fff;
			box-shadow: 0 0 0 10px rgba( 255, 255, 255, 0 );
			transition:
				border-color .2s,
				box-shadow .6s cubic-bezier( .25, .8, .5, 1 );
		}
		a::after{
			background-color: rgba( 255, 255, 255, .05 );
			transition: all .2s;
		}
		a:hover::after{
			transform: scale( 0 );
		}
	}
	.ymt-ArticleNav__Item--home{
		text-align: center;
		position: absolute;
		z-index: 2;
		top: 0;
		bottom: 0;
		left: calc( 50% - 4em );
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: 8em;
		@media(max-width:600px){
			position: relative;
			left: 0;
			display: block;
			width: auto;
		}
		a{
			display: flex;
			flex-grow: 1;
			align-items: center;
			justify-content: center;
		}
	}
	.ymt-ArticleNav__Item--prev,
	.ymt-ArticleNav__Item--next{
		vertical-align: middle;
		box-sizing: border-box;
		display: table-cell;
		width: 50%;
		padding: .4em 10px;
		@media(max-width:600px){
			display: block;
			width: auto;
			margin-top: 10px;
		}
	}
	.ymt-ArticleNav__Item--prev{
		padding-right: calc( 5em + 10px );
		a::before,
		a::after { right: 5em; }
		@media(max-width:600px){
			padding-right: 10px;
			padding-left: 30px;
			a::before,
			a::after { right: 0; }
			&::before{
				content: '<';
				line-height: 0;
				position: absolute;
				top: 50%;
				left: 10px;
			}
		}
	}
	.ymt-ArticleNav__Item--next{
		padding-left: calc( 5em + 10px );
		a::before,
		a::after{ left: 5em; }
		@media(max-width:600px){
			padding-left: 10px;
			padding-right: 30px;
			a::before,
			a::after{ left: 0; }
			&::after{
				content: '>';
				line-height: 0;
				position: absolute;
				top: 50%;
				right: 10px;
			}
		}
	}
}



/* ==========================================================================
   ymt-Pagination
   ========================================================================== */
.ymt-Pagination{
	text-align: center;
	margin: 20px 0;
	.prev,
	.next,
	.page-number{
		line-height: 1.2;
		display: inline-block;
		padding: .4em 16px;
		margin: 0 5px;
		box-shadow: 0 0 0 0 rgba( 255, 255, 255, 0.5 );
		background-color: rgba( 255, 255, 255, .05 );
		transition: border-color .2s;
		

		position: relative;
		z-index: 1;
		&::before,
		&::after{
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			border-radius: 2px;
		}
		&::before{
			border: 1px solid #999;
			box-shadow: 0 0 0 0 rgba( 255, 255, 255, 0.5 );
			background-color: rgba( 255, 255, 255, .05 );
			transition: border-color .2s;
		}
		&:hover::before{
			border-color: #fff;
			box-shadow: 0 0 0 10px rgba( 255, 255, 255, 0 );
			transition:
				border-color .2s,
				box-shadow .6s cubic-bezier( .25, .8, .5, 1 );
		}
		&::after{
			background-color: rgba( 255, 255, 255, .05 );
			transition: all .2s;
		}
		&:hover::after{
			transform: scale( 0 );
		}
	}
	.prev{}
	.next{}
	.page-number{}
	.current{
		&::before,
		&::after{content: none;}
	}
}





/* ==========================================================================
   #disqus_thread
   ========================================================================== */
#disqus_thread{
	clear:both;
	margin:1em 0;
}
@media(max-width:940px){
#disqus_thread{
	padding:0 10px;
}
}



