html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* font setting */
body {
  font: 14px/1.6 sans-serif; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/**
 * Minimal base styles.
 */
/* Prevent mobile zooming while remain desktop zooming: github.com/shichuan/mobile-html5-boilerplate/issues/closed#issue/14 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

ul, ol {
  margin-left: 2em; }

ol {
  list-style-type: decimal; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

textarea {
  overflow: auto; }

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.iem7 legend {
  margin-left: -7px; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.iem7 input[type="checkbox"] {
  vertical-align: baseline; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection {
  background: #690;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #690;
  color: #fff;
  text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #690; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.iem7 img {
  -ms-interpolation-mode: bicubic; }

body {
  color: #333333;
  min-width: 320px; }

/*  (_)-(_)
     (o o)  mod-siteHeader
==ooO=(_)=Ooo===================================*/
header.mod-siteHeader h1 {
  margin: 0;
  background-image: url(data:image/svg+xml,%3c%3fxml%20version%3d%221%2e0%22%3f%3e%3csvg%20xmlns%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%22%20width%3d%22100%25%22%20height%3d%22100%25%22%3e%3cdefs%3e%3clinearGradient%20id%3d%22G%22%20x2%3d%220%25%22%20y2%3d%22100%25%22%3e%3cstop%20style%3d%22stop%2dcolor%3a%23FFFFEE%22%20offset%3d%220%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%23BBDD22%22%20offset%3d%22100%25%22%2f%3e%3c%2flinearGradient%3e%3c%2fdefs%3e%3crect%20width%3d%22100%25%22%20height%3d%22100%25%22%20fill%3d%22url%28%23G%29%22%2f%3e%3c%2fsvg%3e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFEE),color-stop(100%, #BBDD22));
  background-image: -webkit-linear-gradient(top, #FFFFEE 0%,#BBDD22 100%);
  background-image: -moz-linear-gradient(top, #FFFFEE 0%,#BBDD22 100%);
  background-image: -ms-linear-gradient(top, #FFFFEE 0%,#BBDD22 100%);
  background-image: -o-linear-gradient(top, #FFFFEE 0%,#BBDD22 100%);
  background: -pie-linear-gradient(top, #FFFFEE 0%,#BBDD22 100%);
  background-image: linear-gradient(top, #FFFFEE 0%,#BBDD22 100%);
  background-repeat: no-repeat; }
  header.mod-siteHeader h1 img {
    display: block;
    margin: 0 auto; }
header.mod-siteHeader nav.mod-headerNav {
  display: table;
  table-layout: fixed;
  width: 100%;
  background-image: url(data:image/svg+xml,%3c%3fxml%20version%3d%221%2e0%22%3f%3e%3csvg%20xmlns%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%22%20width%3d%22100%25%22%20height%3d%22100%25%22%3e%3cdefs%3e%3clinearGradient%20id%3d%22G%22%20x2%3d%220%25%22%20y2%3d%22100%25%22%3e%3cstop%20style%3d%22stop%2dcolor%3a%23BBEE33%22%20offset%3d%220%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%23558800%22%20offset%3d%22100%25%22%2f%3e%3c%2flinearGradient%3e%3c%2fdefs%3e%3crect%20width%3d%22100%25%22%20height%3d%22100%25%22%20fill%3d%22url%28%23G%29%22%2f%3e%3c%2fsvg%3e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BBEE33),color-stop(100%, #558800));
  background-image: -webkit-linear-gradient(top, #BBEE33 0%,#558800 100%);
  background-image: -moz-linear-gradient(top, #BBEE33 0%,#558800 100%);
  background-image: -ms-linear-gradient(top, #BBEE33 0%,#558800 100%);
  background-image: -o-linear-gradient(top, #BBEE33 0%,#558800 100%);
  background: -pie-linear-gradient(top, #BBEE33 0%,#558800 100%);
  background-image: linear-gradient(top, #BBEE33 0%,#558800 100%); }
  header.mod-siteHeader nav.mod-headerNav ul {
    display: table-row; }
    header.mod-siteHeader nav.mod-headerNav ul li {
      display: table-cell;
      border-width: 1px;
      border-style: solid;
      border-color: #9C3 #7A1 #050 #570;
      vertical-align: middle; }
      header.mod-siteHeader nav.mod-headerNav ul li:first-child {
        border-left: none; }
      header.mod-siteHeader nav.mod-headerNav ul li:last-child {
        border-right: none; }
      header.mod-siteHeader nav.mod-headerNav ul li a {
        color: #fff;
        text-align: center;
        text-decoration: none;
        text-shadow: 2px 2px 3px #000;
        display: block;
        padding: 1em 0; }

/*  (_)-(_)
     (o o)  mod-mainVisual
==ooO=(_)=Ooo===================================*/
div.mod-mainVisual img {
  display: block;
  width: 100%;
  height: auto; }

/*  (_)-(_)
     (o o)  mod-newProduct
==ooO=(_)=Ooo===================================*/
section.mod-newProduct {
  margin: 0 0 10px;
  padding: 10px 10px 0; }
  section.mod-newProduct h2 {
    color: #fff;
    font-size: 114.286%;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    margin: -10px -10px 10px;
    padding: .4em 10px;
    border: 1px solid #669600;
    -webkit-box-shadow: inset 0 0 7px white;
    -moz-box-shadow: inset 0 0 7px white;
    box-shadow: inset 0 0 7px white;
    background-image: url(data:image/svg+xml,%3c%3fxml%20version%3d%221%2e0%22%3f%3e%3csvg%20xmlns%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%22%20width%3d%22100%25%22%20height%3d%22100%25%22%3e%3cdefs%3e%3clinearGradient%20id%3d%22G%22%20x2%3d%220%25%22%20y2%3d%22100%25%22%3e%3cstop%20style%3d%22stop%2dcolor%3a%2399cc11%22%20offset%3d%220%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%2388cc22%22%20offset%3d%2250%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%2377aa00%22%20offset%3d%2251%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%23aacc33%22%20offset%3d%2290%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%23bbcc44%22%20offset%3d%22100%25%22%2f%3e%3c%2flinearGradient%3e%3c%2fdefs%3e%3crect%20width%3d%22100%25%22%20height%3d%22100%25%22%20fill%3d%22url%28%23G%29%22%2f%3e%3c%2fsvg%3e);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #99cc11),color-stop(50%, #88cc22),color-stop(#51,#77aa00),color-stop(#90,#aacc33),color-stop(#100,#bbcc44));
    background-image: -webkit-linear-gradient(top, #99cc11 0%,#88cc22 50%,#77aa00 51%,#aacc33 90%,#bbcc44 100%);
    background-image: -moz-linear-gradient(top, #99cc11 0%,#88cc22 50%,#77aa00 51%,#aacc33 90%,#bbcc44 100%);
    background-image: -ms-linear-gradient(top, #99cc11 0%,#88cc22 50%,#77aa00 51%,#aacc33 90%,#bbcc44 100%);
    background-image: -o-linear-gradient(top, #99cc11 0%,#88cc22 50%,#77aa00 51%,#aacc33 90%,#bbcc44 100%);
    background: -pie-linear-gradient(top, #99cc11 0%,#88cc22 50%,#77aa00 51%,#aacc33 90%,#bbcc44 100%);
    background-image: linear-gradient(top, #99cc11 0%,#88cc22 50%,#77aa00 51%,#aacc33 90%,#bbcc44 100%); }
  section.mod-newProduct p {
    margin: 0 0 10px; }

/*  (_)-(_)
     (o o)  mod-itemSlider
==ooO=(_)=Ooo===================================*/
div.mod-itemSlider {
  padding: 10px 0;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  margin: 10px -10px 0;
  background: #ccc;
  -webkit-box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden; }
  div.mod-itemSlider > div {
    width: 320px;
    margin: 0 auto; }
    div.mod-itemSlider > div .flipsnap {
      display: -webkit-box;
      padding-left: 75px;
      margin: 0 0 10px; }
      div.mod-itemSlider > div .flipsnap .item {
        width: 150px;
        height: 100px;
        margin: 0 10px; }
        div.mod-itemSlider > div .flipsnap .item img {
          display: block;
          max-width: 100%;
          height: auto;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          border-radius: 6px;
          -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
          -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4); }
    div.mod-itemSlider > div .pointer {
      text-align: center;
      line-height: 6px; }
      div.mod-itemSlider > div .pointer span {
        display: inline-block;
        vertical-align: middle;
        width: 5px;
        height: 5px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #000;
        margin: 0 5px;
        background: #8f8e8e; }
        div.mod-itemSlider > div .pointer span.current {
          background: #9c3; }

/*  (_)-(_)
     (o o)  mod-normalSection
==ooO=(_)=Ooo===================================*/
section.mod-normalSection {
  padding: 9px;
  border: 1px solid #eee;
  margin: 10px 10px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  section.mod-normalSection h2 {
    color: #fff;
    font-size: 114.286%;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    margin: -10px -10px 10px;
    padding: .4em 10px;
    border: 10x solid #99cc11;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    background-image: url(data:image/svg+xml,%3c%3fxml%20version%3d%221%2e0%22%3f%3e%3csvg%20xmlns%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%22%20width%3d%22100%25%22%20height%3d%22100%25%22%3e%3cdefs%3e%3clinearGradient%20id%3d%22G%22%20x2%3d%220%25%22%20y2%3d%22100%25%22%3e%3cstop%20style%3d%22stop%2dcolor%3a%2399CC33%22%20offset%3d%220%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%23669900%22%20offset%3d%22100%25%22%2f%3e%3c%2flinearGradient%3e%3c%2fdefs%3e%3crect%20width%3d%22100%25%22%20height%3d%22100%25%22%20fill%3d%22url%28%23G%29%22%2f%3e%3c%2fsvg%3e);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #99CC33),color-stop(100%, #669900));
    background-image: -webkit-linear-gradient(top, #99CC33 0%,#669900 100%);
    background-image: -moz-linear-gradient(top, #99CC33 0%,#669900 100%);
    background-image: -ms-linear-gradient(top, #99CC33 0%,#669900 100%);
    background-image: -o-linear-gradient(top, #99CC33 0%,#669900 100%);
    background: -pie-linear-gradient(top, #99CC33 0%,#669900 100%);
    background-image: linear-gradient(top, #99CC33 0%,#669900 100%); }

/*  (_)-(_)
     (o o)  mod-buttonContainer
==ooO=(_)=Ooo===================================*/
ul.mod-buttonContainer {
  text-align: center;
  margin: 10px 0;
  list-style: none; }
  ul.mod-buttonContainer:last-child {
    margin-bottom: 0; }
  ul.mod-buttonContainer li {
    padding: 5px;
    display: inline-block;
    vertical-align: middle; }
    ul.mod-buttonContainer li.ex-full {
      width: 80%; }

/*  (_)-(_)
     (o o)  mod-button
==ooO=(_)=Ooo===================================*/
a.mod-button {
  display: block;
  color: #fff;
  font-size: 142.857%;
  font-weight: bold;
  text-shadow: 0 0 .5em #006600;
  text-decoration: none;
  padding: .6em 1em;
  border: 1px solid #669600;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 7px white;
  -moz-box-shadow: inset 0 0 7px white;
  box-shadow: inset 0 0 7px white;
  background-image: url(data:image/svg+xml,%3c%3fxml%20version%3d%221%2e0%22%3f%3e%3csvg%20xmlns%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%22%20width%3d%22100%25%22%20height%3d%22100%25%22%3e%3cdefs%3e%3clinearGradient%20id%3d%22G%22%20x2%3d%220%25%22%20y2%3d%22100%25%22%3e%3cstop%20style%3d%22stop%2dcolor%3a%23ccff99%22%20offset%3d%220%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%2388cc22%22%20offset%3d%2250%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%2377aa00%22%20offset%3d%2251%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%2399cc33%22%20offset%3d%22100%25%22%2f%3e%3c%2flinearGradient%3e%3c%2fdefs%3e%3crect%20width%3d%22100%25%22%20height%3d%22100%25%22%20fill%3d%22url%28%23G%29%22%2f%3e%3c%2fsvg%3e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccff99),color-stop(50%, #88cc22),color-stop(#51,#77aa00),color-stop(#100,#99cc33));
  background-image: -webkit-linear-gradient(top, #ccff99 0%,#88cc22 50%,#77aa00 51%,#99cc33 100%);
  background-image: -moz-linear-gradient(top, #ccff99 0%,#88cc22 50%,#77aa00 51%,#99cc33 100%);
  background-image: -ms-linear-gradient(top, #ccff99 0%,#88cc22 50%,#77aa00 51%,#99cc33 100%);
  background-image: -o-linear-gradient(top, #ccff99 0%,#88cc22 50%,#77aa00 51%,#99cc33 100%);
  background: -pie-linear-gradient(top, #ccff99 0%,#88cc22 50%,#77aa00 51%,#99cc33 100%);
  background-image: linear-gradient(top, #ccff99 0%,#88cc22 50%,#77aa00 51%,#99cc33 100%); }

/*  (_)-(_)
     (o o)  mod-subNav
==ooO=(_)=Ooo===================================*/
div.mod-subNav {
  margin: 10px 0;
  background-position: 50% 100%; }
  div.mod-subNav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    div.mod-subNav ul li {
      margin: 0;
      padding: 0 10px 0 0;
      border-bottom: 1px solid #ddd; }
      div.mod-subNav ul li:first-child {
        border-top: 1px solid #ddd; }
      div.mod-subNav ul li a {
        color: #333333;
        text-decoration: none;
        display: block;
        padding: 1em 10px 1em 50px;
        background-image: url(../img/mod-subNav/ico.png);
        background-position: 100% 50%, 0 50%;
        background-repeat: no-repeat; }
      div.mod-subNav ul li.product a {
        background-image: url(../img/mod-subNav/ico.png), url(../img/mod-subNav/ico_2.png); }
      div.mod-subNav ul li.order a {
        background-image: url(../img/mod-subNav/ico.png), url(../img/mod-subNav/ico_3.png); }
      div.mod-subNav ul li.blog a {
        background-image: url(../img/mod-subNav/ico.png), url(../img/mod-subNav/ico_4.png); }
      div.mod-subNav ul li.company a {
        background-image: url(../img/mod-subNav/ico.png), url(../img/mod-subNav/ico_5.png); }

/*  (_)-(_)
     (o o)  mod-siteFooter
==ooO=(_)=Ooo===================================*/
footer.mod-siteFooter {
  margin: 20px 0 0;
  padding: 60px 0 30px;
  background-image: url(../img/mod-siteFooter/bg.png);
  background-repeat: repeat-x;
  background-position: 50% 0;
  background-color: #571900; }
  footer.mod-siteFooter .copyright {
    color: #fff;
    text-align: center; }

/*  (_)-(_)
     (o o)  
==ooO=(_)=Ooo===================================*/
