body{
  font-family:"\30D2\30E9\30AE\30CE\89D2\30B4\20\50\72\6F\20\57\33","Hiragino Kaku Gothic Pro","\30E1\30A4\30EA\30AA",Meiryo;
  color: #FFF;
  margin:0;
  padding: 10px;
  background: #333;
}
.Item{
  width: 100%;
  display: table;
  border-bottom: 1px solid #000;
}
.Item-label,
.Item-icon,
.Item-state{
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px 0 0;
}
.Item-label{width:4em; white-space: nowrap;}
.Item-icon{width:50px}
.Item-state{
  display: table-cell;
}
.Icon--1,
.Icon--2,
.Icon--3,
.Icon--4,
.Icon--5{
  width: 50px;
  height: 50px;
  display: block;
  background: url(splite.png) no-repeat;
}
.Icon--1{background-position:    0   0;}
.Icon--2{background-position:  -50px 0;}
.Icon--3{background-position: -150px 0;}
.Icon--4{background-position: -200px 0;}
.Icon--5{background-position: -250px 0;}